/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr {
    border-color: #ededed;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 5%;
}

p {
    color: #40514E;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}

a {
    color: #11999E;
}

a:hover {
    color: #EAF6F6;
    ;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
}

.pro {
    text-decoration: underline;
    color: #11999E;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.img-profile {
    border-radius: 100%;
    width: 10%
}

.computer-image {
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.game-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.email-image {
    border-radius: 0%;
    width: 10%;
}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 100px auto 100px auto;
    line-height: 2;
}

.contact-row {
    margin: 100px auto 100px auto;
}

.bottom-container {
    border-top: solid 1px #11999E;
    background-color: #66BFBF;
    padding: 30px 0 30px 0;
    width: 100%
}

.footer-link {
    color: #11999E;
    padding: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.footer-paragraph {
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;
    margin: 30px auto auto auto;
}

.btn {
    background: #21E0E7;
    background-image: -webkit-linear-gradient(top, #21E0E7, #117F83);
    background-image: -moz-linear-gradient(top, #21E0E7, #117F83);
    background-image: -ms-linear-gradient(top, #21E0E7, #117F83);
    background-image: -o-linear-gradient(top, #21E0E7, #117F83);
    background-image: linear-gradient(to bottom, #21E0E7, #117F83);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: normal;
    padding: 10px 40px 10px 40px;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 30px;
}

.btn:hover {
    background: #117F83;
    background-image: -webkit-linear-gradient(top, #117F83, #21E0E7);
    background-image: -moz-linear-gradient(top, #117F83, #21E0E7);
    background-image: -ms-linear-gradient(top, #117F83, #21E0E7);
    background-image: -o-linear-gradient(top, #117F83, 21E0E7);
    background-image: linear-gradient(to bottom, #117F83, #21E0E7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}